@{
    ViewData["Title"] = "Home Page";
}

@model Product
<div class="container detail-page">
    <div class="card">
        <div class="card-header">
            <h1>@Model.Name</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">Name: @Model.Name</h5>
            <p class="card-text">Email: @Model.Price</p>

            <a href="@Url.Action("Index", "Product")" class="btn btn-primary">Go back</a>
        </div>
    </div>
</div>