@{
    ViewData["Title"] = "Home Page";
}
<div class="homepage-main">
    <div class="jumbo-main">
        <div class="home-background"></div>

        <div class="home-text text-center">
            <h1 class="display-4">Welcome to your e-commerce empire!</h1>

        </div>
    </div>

    <div class="home-section container text-light text-center d-flex flex-column align-content-center justify-content-center">
        <h2>Keep track of every aspect of your e-commerce business</h2>
        <p>You can keep records of every aspect of your business: from the products available on your website, to the clients that have subscribed accounts.</p>
        <p class="fw-bold">Everything you need in one place.</p>
    </div>

</div>

