@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="privacy-container">
    <div class="privacy-bckgr"></div>
    <div class="container privacy-text">
        <h1>@ViewData["Title"]</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla odio orci, blandit nec ex et, tincidunt consectetur leo. Donec mollis, est non egestas lacinia, nibh diam hendrerit erat, sed viverra nibh nisi ac arcu. Quisque ultrices malesuada congue. Vivamus vel suscipit libero. Maecenas eleifend a diam ut lobortis. Etiam quis egestas felis, vel feugiat nunc. Nam at gravida ipsum, nec maximus ligula. Phasellus non mi laoreet, dapibus quam sit amet, elementum felis. Phasellus nec accumsan tortor, rutrum ullamcorper orci. Nulla vulputate ornare bibendum. Praesent tempus a urna a congue. Mauris vitae malesuada leo. In venenatis eget quam et ullamcorper. Ut.</p>
    </div>
</div>
